@model IEnumerable<VideoClub.Models.Distribuidora>

@{
    ViewBag.Title = "Distribuidoras";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar distribuidora", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DistribuidoraId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.DistribuidoraId }) |
            @Html.ActionLink("borrar", "Delete", new { id=item.DistribuidoraId })
        </td>
    </tr>
}

</table>
